* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.social {
  color: aliceblue;
  background-color: rgba(37, 43, 66, 1);
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.contact {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.contact .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.phone > img {
  margin: 5px;
}
.phone > p {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail > img {
  margin: 5px;
}

.mail > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.phrase {
  width: 30%;
}

.phrasetext > p {
  display: flex;
  margin: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
}

.socialmedia {
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia > p {
  display: flex;
  margin: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.menu .logo {
  margin-left: 5%;
  width: 10%;
}
.menu .nav {
  width: 50%;
  margin-left: 5%;
}

.menunav {
  display: flex;
  width: 100%;
}
.menunav > li {
  margin: 20px;
}
.menunav > li > a {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.menunav > li > select {
  border: none;
  font-size: 14px;
}

.sign {
  margin-left: 15%;
  margin-right: 5%;
}

.sign > ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign > ul > li {
  list-style: none;
}

.signInUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #23a6f0;
}

.signInUp img {
  width: 12px;
  height: 12px;
}

.signInUp > a {
  color: #23a6f0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.carrousel {
  width: 100vw;
  height: 100vh;
}

.carousel1Div {
  position: absolute;
  display: flex;
  margin-left: 20%;
  margin-top: 15%;
}
.carousel1Image {
  width: 100vw;
  height: 80%;
}

.carousel1Description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.carousel1Description > h5 {
  font-size: 16px;
  color: #ffffff;
}

.carousel1Description h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.carousel1Description h4 {
  font-size: 20px;
  color: #ffffff;
}

.buyMoreButton {
  cursor: pointer;
}

.editor {
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
}

.editor .editorTitle {
  margin-top: 5%;
  text-align: center;
}

.editor .editorTitle > h3 {
  font-weight: 600;
}

.gridImagesDiv {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridImages {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  width: 60%;
  height: 100%;
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonGrid {
  position: absolute;
  z-index: 1;
  margin-top: 400px;
  margin-left: 2%;
  width: 170px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
}

.photos:hover {
  opacity: 0.5;
}

.buttonGrid:hover {
  cursor: pointer;
}

.bestsellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.bestsellersTitle {
  text-align: center;
}

.bestsellersCards {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.bestsellersCards div {
  width: 239px;
  height: 615px;
  border: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.imageCard {
  height: 20 rem;
  transition: transform 0.2s;
}

.imageCard:hover {
  transform: scale(1.1);
}

.preco {
  height: 20px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.nameProd {
  font-size: 16px;
  margin-top: 10%;
  font-weight: 600;
}

.descriptionProd {
  font-size: 14px;
  color: #737373;
  margin-top: 5%;
}

.preco .originalPrice {
  color: blanchedalmond;
  margin: 0 5%;
}
.preco .discountPrice {
  color: #23856d;
  margin: 0;
}

.colorsProd {
  text-align: center;
}

.colorSelector {
  transition: transform 0.2s;
}

.colorSelector:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.carousel_2 {
  text-align: center;
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
}

.carouselBanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #23856d;
  width: 100vw;
  height: 90vh;
}

.bannerDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
  align-items: flex-start;
  margin-bottom: 15%;
}

.bannerDescription > h5 {
  font-size: 16px;
  color: #ffffff;
}

.bannerDescription h1 {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.bannerDescription h4 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.bannerPriceBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.bannerPriceBtn > h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.buttonAddCart {
  color: white;
  border-radius: 5px;
  height: 52px;
  width: 151px;
  background-color: #2dc071;
  border: 0px;
}

.buttonAddCart:hover {
  cursor: pointer;
}

.bannerImage {
  height: 90%;
}

.summer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
}

.summerDiv {
  margin: 0 5%;
  display: flex;
}

.descriptionDiv {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summerDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30em;
  height: 30em;
}

.summerDescription > h5 {
  color: #bdbdbd;
  font-size: 16px;
}

.summerDescription h1 {
  font-size: 40px;
  font-weight: 700;
}

.summerDescription h4 {
  color: #737373;
  font-size: 20px;
  font-weight: 600;
}

.buyMoreButton {
  color: white;
  font-weight: 700;
  border-radius: 5px;
  height: 52px;
  width: 151px;
  background-color: #2dc071;
  border: 0px;
}
.readMoreButton {
  color: #2dc071;
  font-weight: 700;
  border-radius: 5px;
  background-color: white;
  height: 52px;
  width: 171px;
  border: 2px solid #2dc071;
  cursor: pointer;
}

.featuredPost {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.buttonNews {
  position: absolute;
  margin: 1% 1%;
  font-size: 10px;
  font-weight: 700;
  border: 0px;
  width: 40px;
  height: 20px;
  background-color: #e74040;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.featuredPostTitle {
  display: flex;
  flex-direction: column;
  gap: 2%;
  text-align: center;
  width: 25%;
}
.featuredPostTitle h6 {
  font-size: 14px;
  font-weight: 700;
  color: #23a6f0;
}

.featuredPostTitle h2 {
  font-size: 40px;
  font-weight: 700;
  color: #252b42;
}
.featuredPostTitle p {
  font-size: 14px;
  font-weight: 400;
  color: color#737373;
}

.postCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  margin-top: 5%;
}

.postCardsDiv {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 349px);
  gap: 5%;
  height: 100%;
}

.postCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: fit-content;
}

.postCard:hover {
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 5%;
}

.selected {
  color: #23a6f0;
}

.optionsCard small a {
  color: #737373;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 600;
}
.optionsCard small a:hover {
  color: #23a6f0;
}

.cardContent h4 {
  color: #252b42;
  font-size: 20px;
  font-weight: 400;
  margin: 5% 0;
}
.cardContent p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}

.dataCommentsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dataCommentsDiv small a {
  text-decoration: none;
  color: #737373;
  font-size: 12px;
  font-weight: 400;
}

.learnMore {
  margin-top: 10%;
  display: flex;
  gap: 5%;
  align-items: end;
  justify-content: start;
  width: 100%;
  height: auto;
}

.learnMore a {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}
.learnMore a:hover {
  color: #23a6f0;
}

.learnMore img {
  width: 9px;
  height: 16px;
}

.footerHead {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-top: 5%;
  width: 100vw;
  height: 15vh;
}

.headContent {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headContent h3 {
  font-weight: 700;
  color: #252b42;
}

.iconsFooter {
  width: 20%;
}
.iconsFooter img {
  margin: 5%;
}

.footerContentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 70vw;
  height: 100%;
  margin-top: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.column h5 {
  font-weight: 700;
}

.column a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}
.column p {
  font-size: 12px;
  color: #737373;
}

.getInTouch {
  height: 20%;
  display: flex;
}

.getInTouch input {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid #e6e6e6;
}

.getInTouch button {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #23a6f0;
  border: #23a6f0;
  height: 100%;
  width: 30%;
  margin: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footerEnd {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fafafa;
  width: 100vw;
  height: 10vh;
}

.footerEnd h6 {
  color: #737373;
  margin-left: 15%;
}
